<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Level1</title>
        {% load staticfiles %}
        <link href="{%static 'shop/style.css'%}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{%static 'shop/images/favicon.ico'%}" />
    </head>
    <body>
        <div class="containerDiv">
            <div class="titleDiv">
                <span class="font1">Level1</span>
            </div>

            <div class="problemDiv">
                <span class="font2">
                    密码在海报中，快去找找吧！
                </span>
            </div>
            <div class="answerDiv">
                <form method="post" action="/1024/CompareFlag">
                    {% csrf_token %}
                    <input type="text" class="input" name="flag">
                    <input type="submit" class="button" value="提交">
                </form>
            </div>
        </div>
    </body>
</html>
{% if messages %}
<script>
    {% for msg in messages%}
        alert('{{msg.message}}')
    {% endfor %}
</script>
{% endif %}